

/**
 * Vendors
 */
@import 'vendor/normalize';
@import 'vendor/sanitize';

/**
 * Breakpoints
 */
$mq-breakpoints: (
    mobile:  321px,
    phablet: 580px,
    tablet:  840px,
    desktop: 1030px,
    big:     1200px,
    bigger:  1400px,
    wide:    1600px,
    max:     2000px
);